/* COMMON */

body {
    background: #f8f8f6;
    height: 3000px;
}

.material-icons {
    color: rgb(88, 85, 85);
    cursor: pointer;
}

/* HEADER */

header {
    background: white;
    height: 56px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 1;
}

header img#logo {
    width: 98px;
    height: 37px;
    margin: 0 70px;
    cursor: pointer;
}

header>.material-icons {
    position: absolute;
}

header>.material-icons#btn--open {
    margin-left: 24px;
    top: 15px;
    display: block;
}

header>.material-icons#btn--close {
    margin-left: 24px;
    top: 15px;
    display: block;
}

header>.material-icons#video {
    right: 200px;
    display: block;
    font-size: 25px;
}

header>.material-icons#apps {
    right: 150px;
    display: block;
    font-size: 25px;
}

header>.material-icons#noti {
    right: 100px;
    display: block;
    font-size: 24px;
}

header>.material-icons#account {
    right: 30px;
    display: block;
    font-size: 35px;
}

/* 사이드바 글씨 */

#구독 {
    margin: 16px 25px;
    font-weight: 580;
}

#YOUTUBE더보기 {
    margin: 14px 24px;
    color: rgb(78, 78, 78);
    font-weight: 600;
}

.nav_category {
    font-size: 14px;
    color: rgb(58, 58, 58);
    padding-left: 30px;
}

/* 사이드 바 아이콘 */

.material-icons#home {
    font-size: 25px;
    padding-left: 16.5px;
    color: rgb(255, 0, 0);
    vertical-align: middle;
}
.material-icons#compass {
    font-size: 24px;
    padding-left: 17px;
    color: rgb(92, 91, 91);
    vertical-align: middle;
}
.material-icons#subs {
    font-size: 20px;
    padding-left: 20px;
    color: rgb(92, 91, 91);
    vertical-align: middle;
}
.material-icons#video_library {
    font-size: 24px;
    padding-left: 16.5px;
    color: rgb(92, 91, 91);
    vertical-align: middle;
}
.material-icons#history {
    font-size: 21.5px;
    padding-left: 18px;
    color: rgb(92, 91, 91);
    vertical-align: middle;
}
.material-icons#watch_later {
    font-size: 20px;
    padding-left: 19.5px;
    color: rgb(92, 91, 91);
    vertical-align: middle;
}
.material-icons#good {
    font-size: 17.5px;
    padding-left: 21px;
    color: rgb(92, 91, 91);
    vertical-align: middle;
}
.material-icons#music {
    font-size: 23px;
    padding-left: 18px;
    color: rgb(92, 91, 91);
    vertical-align: middle;
}
.material-icons#sports_filled {
    font-size: 23px;
    padding-left: 18px;
    color: rgb(92, 91, 91);
    vertical-align: middle;
}
.material-icons#game_filled {
    font-size: 23px;
    padding-left: 18px;
    color: rgb(92, 91, 91);
    vertical-align: middle;
}
.material-icons#movie_filled {
    font-size: 23px;
    padding-left: 18px;
    color: rgb(92, 91, 91);
    vertical-align: middle;
}
.material-icons#premium {
    font-size: 22px;
    padding-left: 18px;
    color: rgb(92, 91, 91);
    vertical-align: middle;
}
.material-icons#movie {
    font-size: 23px;
    padding-left: 17.5px;
    color: rgb(92, 91, 91);
    vertical-align: middle;
}
.material-icons#game {
    font-size: 23px;
    padding-left: 18px;
    color: rgb(92, 91, 91);
    vertical-align: middle;
}
.material-icons#live {
    font-size: 22px;
    padding-left: 18px;
    color: rgb(92, 91, 91);
    vertical-align: middle;
}
.material-icons#learn {
    font-size: 23px;
    padding-left: 18px;
    color: rgb(92, 91, 91);
    vertical-align: middle;
}
.material-icons#sports {
    font-size: 27px;
    padding-left: 15px;
    color: rgb(92, 91, 91);
    vertical-align: middle;
}
.material-icons#settings {
    font-size: 26x;
    padding-left: 17px;
    color: rgb(92, 91, 91);
    vertical-align: middle;
}
.material-icons#flag {
    font-size: 21.5px;
    padding-left: 18px;
    color: rgb(92, 91, 91);
    vertical-align: middle;
}
.material-icons#help {
    font-size: 24px;
    padding-left: 17px;
    color: rgb(92, 91, 91);
    vertical-align: middle;
}
.material-icons#feedback {
    font-size: 23px;
    padding-left: 18px;
    color: rgb(92, 91, 91);
    vertical-align: middle;
}

/* 사이드바 하단 설명 */

.etc {
    color: rgb(90, 89, 89);
    margin: 0 25px;
    font-size: 13.2px;
    line-height: 18px;
    font-weight: 500;
    display: inline-block;
}

#etc1 {
    cursor: pointer;
    margin: 0.5px 2px;
}

#etc2 {
    cursor: pointer;
    margin: 0.5px 2px;
}

#etc3 {
    cursor: pointer;
    margin: 0.5px 2px;
}

#etc4 {
    cursor: pointer;
    margin: 0.5px 2px;
}

#etc5 {
    cursor: pointer;
    margin: 0.5px 2px;
}

#etc6 {
    cursor: pointer;
    margin: 0.5px 2px;
}

#etc7 {
    cursor: pointer;
    margin: 0.5px 2px;
}

#etc8 {
    cursor: pointer;
    margin: 0.5px 2px;
}

#etc9 {
    cursor: pointer;
    margin: 0.5px 2px;
}

#etc10 {
    cursor: pointer;
    margin: 0.5px 2px;
}

#etc11 {
    cursor: pointer;
    margin: 0.5px 2px;
}

#etc12 {
    cursor: pointer;
    margin: 0.5px 2px;
}

.info {
    color: rgb(156, 154, 154);
    margin: 0 25px;
    font-size: 13.7px;
    line-height: 18px;
    font-weight: 400;
}

/* 사이드바 버튼 호버 */

button#btn1:hover {
    background-color: rgb(243, 240, 240);
}

button#btn2:hover {
    background-color: rgb(243, 240, 240);
}

button#btn3:hover {
    background-color: rgb(243, 240, 240);
}

button#btn4:hover {
    background-color: rgb(243, 240, 240);
}

.button#btn5:hover {
    background-color: rgb(243, 240, 240);
}

button#btn6:hover {
    background-color: rgb(243, 240, 240);
}

button#btn7:hover {
    background-color: rgb(243, 240, 240);
}

button#btn8:hover {
    background-color: rgb(243, 240, 240);
}

button#btn9:hover {
    background-color: rgb(243, 240, 240);
}

button#btn10:hover {
    background-color: rgb(243, 240, 240);
}

button#btn11:hover {
    background-color: rgb(243, 240, 240);
}

button#btn12:hover {
    background-color: rgb(243, 240, 240);
}

.button#btn13:hover {
    background-color: rgb(243, 240, 240);
}

button#btn14:hover {
    background-color: rgb(243, 240, 240);
}

button#btn15:hover {
    background-color: rgb(243, 240, 240);
}

button#btn16:hover {
    background-color: rgb(243, 240, 240);
}

button#btn17:hover {
    background-color: rgb(243, 240, 240);
}

button#btn18:hover {
    background-color: rgb(243, 240, 240);
}

button#btn19:hover {
    background-color: rgb(243, 240, 240);
}

button#btn20:hover {
    background-color: rgb(243, 240, 240);
}

button#btn21:hover {
    background-color: rgb(243, 240, 240);
}


/* 사이드바 버튼 스타일 */

button.btn {
    background-color: white;
    border: none;
    cursor: pointer;
    width: 227px;
    height: 43px;
    text-align: left;
    outline: none;
}

.btn#btn1 {
    background-color: rgb(212, 208, 208);
}

/* 썸네일 영상 시간 */

.subpic {
    position: relative;
}

.imtext#imtext1 {
    position: absolute;
    color: rgb(235, 232, 232);
    font-weight: bold;
    font-size: 13px;
    left: 226.5px;
    top: 133px;
    padding: 4px 4px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    padding-bottom: 2.2px;
}

.imtext#imtext2 {
    position: absolute;
    color: rgb(235, 232, 232);
    font-weight: bold;
    font-size: 13px;
    left: 226.5px;
    top: 133px;
    padding: 4px 4px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    padding-bottom: 2.2px;
}

.imtext#imtext3 {
    position: absolute;
    color: rgb(235, 232, 232);
    font-weight: bold;
    font-size: 13px;
    left: 226.5px;
    top: 133px;
    padding: 4px 4px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    padding-bottom: 2.2px;
}

.imtext#imtext4 {
    position: absolute;
    color: rgb(235, 232, 232);
    font-weight: bold;
    font-size: 13px;
    left: 226.5px;
    top: 133px;
    padding: 4px 4px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    padding-bottom: 2.2px;
}

.imtext#imtext5 {
    position: absolute;
    color: rgb(235, 232, 232);
    font-weight: bold;
    font-size: 13px;
    left: 226.5px;
    top: 133px;
    padding: 4px 4px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    padding-bottom: 2.2px;
}

.imtext#imtext6 {
    position: absolute;
    color: rgb(235, 232, 232);
    font-weight: bold;
    font-size: 13px;
    left: 226.5px;
    top: 133px;
    padding: 4px 4px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    padding-bottom: 2.2px;
}

.imtext#imtext7 {
    position: absolute;
    color: rgb(235, 232, 232);
    font-weight: bold;
    font-size: 13px;
    left: 226.5px;
    top: 133px;
    padding: 4px 4px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    padding-bottom: 2.2px;
}

.imtext#imtext8 {
    position: absolute;
    color: rgb(235, 232, 232);
    font-weight: bold;
    font-size: 13px;
    left: 226.5px;
    top: 133px;
    padding: 4px 4px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    padding-bottom: 2.2px;
}

.imtext#imtext9 {
    position: absolute;
    color: rgb(235, 232, 232);
    font-weight: bold;
    font-size: 13px;
    left: 226.5px;
    top: 133px;
    padding: 4px 4px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    padding-bottom: 2.2px;
}

.imtext#imtext10 {
    position: absolute;
    color: rgb(235, 232, 232);
    font-weight: bold;
    font-size: 13px;
    left: 226.5px;
    top: 133px;
    padding: 4px 4px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    padding-bottom: 2.2px;
}

.imtext#imtext11 {
    position: absolute;
    color: rgb(235, 232, 232);
    font-weight: bold;
    font-size: 13px;
    left: 226.5px;
    top: 133px;
    padding: 4px 4px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    padding-bottom: 2.2px;
}

/* 광고(첫번째 썸네일) 웹페이지 나가기 아이콘 */

.imtext#imtext_adv {
    position: absolute;
    color: white;
    left: 233px;
    top: 118px;
    padding: 3px 4px;
    border-radius: 2px;
}

.material-icons#out {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: black;
    padding: 2px 2px;
    border-radius: 2px;
}

/* 광고 동영상 제목, 부가설명 */

.item>.ss_adv_title {
    font-size: 14.5px;
    margin-top: 10px;
}

.item>.ss_adv_etc {
    font-size: 14.5px;
    color: rgb(82, 80, 80);
}

.item>.ss_adv_etc1 {
    font-size: 14px;
    color: rgb(82, 80, 80);
    line-height: 27px;
}

/* 동영상 제목, 채널명, 조회수 */

.item>.ss_etc {
    font-size: 14px;
    color: rgb(82, 80, 80);
    line-height: 17px;
    margin: -6px 45px;
}

.item>.ss_title {
    font-size: 15px;
    vertical-align: middle;
}

/* 채널명 hover */

.channel:hover {
    color: rgb(0, 0, 0);
}

/* 광고 글씨 옆 메뉴 점 3개 아이콘 */

.material-icons#adv_dots {
    font-size: 23px;
    color: rgb(133, 131, 131);
    text-align: right;
    margin-left: 220px;
}

/* item hover시 점 3개 아이콘 보이게 */

.item:hover
#dots {
    display: block;
}

.item:hover
#dots2 {
    display: block;
}

.item:hover
#dots3 {
    display: block;
}

.item:hover
#dots4 {
    display: block;
}

.item:hover
#dots5 {
    display: block;
}

.item:hover
#dots6 {
    display: block;
}

.item:hover
#dots7 {
    display: block;
}

.item:hover
#dots8 {
    display: block;
}

.item:hover
#dots9 {
    display: block;
}

.item:hover
#dots10 {
    display: block;
}

.item:hover
#dots11 {
    display: block;
}

.item:hover
.ss_etc {
    margin-top: 7px;
}

.material-icons#dots {
    font-size: 23px;
    color: rgb(133, 131, 131);
    display: none;
    text-align: right;
    margin-top: -36px;
}

.material-icons#dots2 {
    font-size: 23px;
    color: rgb(133, 131, 131);
    display: none;
    text-align: right;
    margin-top: -36px;
}

.material-icons#dots3 {
    font-size: 23px;
    color: rgb(133, 131, 131);
    display: none;
    text-align: right;
    margin-top: -36px;
}

.material-icons#dots4 {
    font-size: 23px;
    color: rgb(133, 131, 131);
    display: none;
    text-align: right;
    margin-top: -36px;
}

.material-icons#dots5 {
    font-size: 23px;
    color: rgb(133, 131, 131);
    display: none;
    text-align: right;
    margin-top: -36px;
}

.material-icons#dots6 {
    font-size: 23px;
    color: rgb(133, 131, 131);
    display: none;
    text-align: right;
    margin-top: -36px;
}

.material-icons#dots7 {
    font-size: 23px;
    color: rgb(133, 131, 131);
    display: none;
    text-align: right;
    margin-top: -36px;
}

.material-icons#dots8 {
    font-size: 23px;
    color: rgb(133, 131, 131);
    display: none;
    text-align: right;
    margin-top: -36px;
}

.material-icons#dots9 {
    font-size: 23px;
    color: rgb(133, 131, 131);
    display: none;
    text-align: right;
    margin-top: -36px;
}

.material-icons#dots10 {
    font-size: 23px;
    color: rgb(133, 131, 131);
    display: none;
    text-align: right;
    margin-top: -36px;
}

.material-icons#dots11 {
    font-size: 23px;
    color: rgb(133, 131, 131);
    display: none;
    text-align: right;
    margin-top: -36px;
}

/* 아이템 호버시 썸네일에 시계 아이콘 보이게 */

.item:hover
#imtext_clock {
    display: block;
}
.item:hover
#imtext_clock2 {
    display: block;
}
.item:hover
#imtext_clock3 {
    display: block;
}
.item:hover
#imtext_clock4 {
    display: block;
}
.item:hover
#imtext_clock5 {
    display: block;
}
.item:hover
#imtext_clock6 {
    display: block;
}
.item:hover
#imtext_clock7 {
    display: block;
}
.item:hover
#imtext_clock8 {
    display: block;
}
.item:hover
#imtext_clock9 {
    display: block;
}
.item:hover
#imtext_clock10 {
    display: block;
}
.item:hover
#imtext_clock11 {
    display: block;
}

/* 아이템 호버시 썸네일에 리스트추가 아이콘 보이게 */

.item:hover
#imtext_addlist {
    display: block;
}
.item:hover
#imtext_addlist2 {
    display: block;
}
.item:hover
#imtext_addlist3 {
    display: block;
}
.item:hover
#imtext_addlist4 {
    display: block;
}
.item:hover
#imtext_addlist5 {
    display: block;
}
.item:hover
#imtext_addlist6 {
    display: block;
}
.item:hover
#imtext_addlist7 {
    display: block;
}
.item:hover
#imtext_addlist8 {
    display: block;
}
.item:hover
#imtext_addlist9 {
    display: block;
}
.item:hover
#imtext_addlist10 {
    display: block;
}
.item:hover
#imtext_addlist11 {
    display: block;
}

/* 아이템 호버시 영상 시간 안보이게 */

.item:hover
#imtext1 {
    display: none;
}
.item:hover
#imtext2 {
    display: none;
}
.item:hover
#imtext3 {
    display: none;
}
.item:hover
#imtext4 {
    display: none;
}
.item:hover
#imtext5 {
    display: none;
}
.item:hover
#imtext6 {
    display: none;
}
.item:hover
#imtext7 {
    display: none;
}
.item:hover
#imtext8 {
    display: none;
}
.item:hover
#imtext9 {
    display: none;
}
.item:hover
#imtext10 {
    display: none;
}
.item:hover
#imtext11 {
    display: none;
}

/* 리스트 추가 아이콘 메뉴 스타일 */

.imtext#imtext_addlist {
    position: absolute;
    color: white;
    left: 236px;
    top: 34px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none; 
}
.imtext#imtext_addlist2 {
    position: absolute;
    color: white;
    left: 236px;
    top: 34px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none; 
}
.imtext#imtext_addlist3 {
    position: absolute;
    color: white;
    left: 236px;
    top: 34px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none; 
}
.imtext#imtext_addlist4 {
    position: absolute;
    color: white;
    left: 236px;
    top: 34px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none; 
}
.imtext#imtext_addlist5 {
    position: absolute;
    color: white;
    left: 236px;
    top: 34px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none; 
}
.imtext#imtext_addlist6 {
    position: absolute;
    color: white;
    left: 236px;
    top: 34px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none; 
}
.imtext#imtext_addlist7 {
    position: absolute;
    color: white;
    left: 236px;
    top: 34px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none; 
}
.imtext#imtext_addlist8 {
    position: absolute;
    color: white;
    left: 236px;
    top: 34px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none; 
}
.imtext#imtext_addlist9 {
    position: absolute;
    color: white;
    left: 236px;
    top: 34px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none; 
}
.imtext#imtext_addlist10 {
    position: absolute;
    color: white;
    left: 236px;
    top: 34px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none; 
}
.imtext#imtext_addlist11 {
    position: absolute;
    color: white;
    left: 236px;
    top: 34px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none; 
}

/* 시게 아이콘 메뉴 스타일 */

.imtext#imtext_clock {
    position: absolute;
    color: white;
    left: 236px;
    top: 2px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none;
}

.imtext#imtext_clock2 {
    position: absolute;
    color: white;
    left: 236px;
    top: 2px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none;
}

.imtext#imtext_clock3 {
    position: absolute;
    color: white;
    left: 236px;
    top: 2px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none;
}

.imtext#imtext_clock4 {
    position: absolute;
    color: white;
    left: 236px;
    top: 2px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none;
}

.imtext#imtext_clock5 {
    position: absolute;
    color: white;
    left: 236px;
    top: 2px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none;
}

.imtext#imtext_clock6 {
    position: absolute;
    color: white;
    left: 236px;
    top: 2px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none;
}

.imtext#imtext_clock7 {
    position: absolute;
    color: white;
    left: 236px;
    top: 2px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none;
}

.imtext#imtext_clock8 {
    position: absolute;
    color: white;
    left: 236px;
    top: 2px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none;
}

.imtext#imtext_clock9 {
    position: absolute;
    color: white;
    left: 236px;
    top: 2px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none;
}

.imtext#imtext_clock10 {
    position: absolute;
    color: white;
    left: 236px;
    top: 2px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none;
}

.imtext#imtext_clock11 {
    position: absolute;
    color: white;
    left: 236px;
    top: 2px;
    padding: 3px 4px;
    border-radius: 2px;
    display: none;
}

 /* 시계 아이콘 스타일 */

.material-icons#clock {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}
.material-icons#clock2 {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}
.material-icons#clock3 {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}
.material-icons#clock4 {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}
.material-icons#clock5 {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}
.material-icons#clock6 {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}
.material-icons#clock7 {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}
.material-icons#clock8 {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}
.material-icons#clock9 {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}
.material-icons#clock10 {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}
.material-icons#clock11 {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}

 /* 리스트 추가 아이콘 스타일 */

 .material-icons#addlist {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}
.material-icons#addlist2 {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}
.material-icons#addlist3 {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}
.material-icons#addlist4 {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}
.material-icons#addlist5 {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}
.material-icons#addlist6 {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}
.material-icons#addlist7 {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}
.material-icons#addlist8 {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}
.material-icons#addlist9 {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}
.material-icons#addlist10 {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}
.material-icons#addlist11 {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 2px;
    border-radius: 2px;
}

/* 각 동영상 계정 스타일 */

.material-icons#acc1 {
    font-size: 40px;
    margin-top: 5px;
    vertical-align: middle;
}

.material-icons#acc2 {
    font-size: 40px;
    margin-top: 5px;
    vertical-align: middle;
}

.material-icons#acc3 {
    font-size: 40px;
    margin-top: 5px;
    vertical-align: middle;
}

.material-icons#acc4 {
    font-size: 40px;
    margin-top: 5px;
    vertical-align: middle;
}

.material-icons#acc5 {
    font-size: 40px;
    margin-top: 5px;
    vertical-align: middle;
}

.material-icons#acc6 {
    font-size: 40px;
    margin-top: 5px;
    vertical-align: middle;
}

.material-icons#acc7 {
    font-size: 40px;
    margin-top: 5px;
    vertical-align: middle;
}

.material-icons#acc8 {
    font-size: 40px;
    margin-top: 5px;
    vertical-align: middle;
}

.material-icons#acc9 {
    font-size: 40px;
    margin-top: 5px;
    vertical-align: middle;
}

.material-icons#acc10 {
    font-size: 40px;
    margin-top: 5px;
    vertical-align: middle;
}

.material-icons#acc11 {
    font-size: 40px;
    margin-top: 5px;
    vertical-align: middle;
}

.material-icons#acc12 {
    font-size: 40px;
    margin-top: 5px;
    vertical-align: middle;
}


/* 너비 줄었을 때 햄버거바 + 로고 위치 이동 */

@media screen and (min-width: 100px) and (max-width: 650px) {
    header>.material-icons#btn--open {
        margin-left: 17px;
        top: 15px;
        display: block;
    }
    
    header>.material-icons#btn--close {
        margin-left: 17px;
        top: 15px;
        display: block;
    }
    header img#logo {
        width: 98px;
        height: 37px;
        margin: 0 50px;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1600px) {
    /* 너비 줄었을 때 썸네일 GRID 바뀌게 */
    .main_container {
        display: grid;
        grid-template-rows: 56px calc(100% - 56px);
        grid-template-columns: 240px 1120px;
        overscroll-behavior: contain;
    }
    
    .section1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .section2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .section3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .container {
        position: relative;
        display: grid;
        grid-template-columns: 19vw 19vw 19vw 19vw;
        grid-template-rows: 260px 260px 260px 260px;
        grid-row-gap: 3vw;
        grid-column-gap: 1vw;
        left: 24px;
        top: 24px;
    }
    /* 사이드 바 스타일 */
    nav {
        position: fixed;
        overflow-y: auto;
        width: 240px;
        background: white;
        max-height: 100%;
        transition: .2s;
        font-size: 14px;
        overscroll-behavior: contain;
        background-color: white;
        z-index: 1;
    }
    /* 얇은 사이드 바 안 보이게 */
    ul {
        width: 70px;
        background: white;
        margin: 0;
        padding: 0;
        position: fixed;
        height: 100%;
        display: block;
    }
    /* 각 그리드 스타일 */
    .item {
        cursor: pointer;
        width: 19vw;
        height: 260px;
    }

    /* 썸네일 사진 */
    img {
        width: 19vw;
        height: 155px;
    }
}

@media screen and (min-width: 1144px) and (max-width: 1300px) {
    /* 너비 줄었을 때 썸네일 GRID 바뀌게 */
    .main_container {
        display: grid;
        grid-template-rows: 56px calc(100% - 56px);
        grid-template-columns: 70px 1300px;
        overscroll-behavior: contain;
    }
 
    .container {
        position: relative;
        display: grid;
        grid-template-columns: 21vw 21vw 21vw 21vw;
        grid-template-rows: 260px 260px 260px 260px;
        grid-row-gap: 6vw;
        grid-column-gap: 1.5vw;
        left: 24px;
        top: 24px;
    }
    .section1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .section2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .section3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    /* 너비 줄었을 때 사이드 바 안 보이게 */
    nav {
        visibility: hidden;
    }
    /* 얇은 사이드 바 보이게 */
    ul {
        width: 70px;
        background: white;
        margin: 0;
        padding: 0;
        position: fixed;
        height: 100%;
    }
    /* 각 그리드 스타일 */
    .item {
        cursor: pointer;
        width: 21vw;
        height: 260px;
    }
    /* 썸네일 사진 */
    img {
        width: 21vw;
        height: 155px;
    }
}

@media screen and (min-width: 889px) and (max-width: 1143px) {
    /* 너비 줄었을 때 썸네일 GRID 바뀌게 */
    .main_container {
        display: grid;
        grid-template-rows: 56px calc(100% - 56px);
        grid-template-columns: 70px 1300px;
        overscroll-behavior: contain;
    }
    .section1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .section2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .section3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .container {
        position: relative;
        display: grid;
        grid-template-columns: 28vw 28vw 28vw;
        grid-template-rows: 280px 280px 280px;
        grid-row-gap: 3vw;
        grid-column-gap: 1.5vw;
        left: 24px;
        top: 24px;
    }  

    /* 너비 줄었을 때 사이드 바 안 보이게 */
    nav {
        visibility: hidden;
    } 
    /* 얇은 사이드 바 보이게 */
    ul {
        width: 70px;
        background: white;
        margin: 0;
        padding: 0;
        position: fixed;
        height: 100%;
    }
    /* 각 그리드 스타일 */
    .item {
        cursor: pointer;
        width: 28vw;
        height: 270px;
    }
    
    /* 썸네일 사진 */ 
    img {
        width: 28vw;
        height: 175px;
    }
}

@media screen and (min-width: 808px) and (max-width: 888px) {
    /* 너비 줄었을 때 썸네일 GRID 바뀌게 */
    .main_container {
        display: grid;
        grid-template-rows: 56px calc(100% - 56px);
        grid-template-columns: 70px 1300px;
        overscroll-behavior: contain;
    }
    .section1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .section2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .section3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .container {
        position: relative;
        display: grid;
        grid-template-columns: 38vw 38vw;
        grid-template-rows: 280px 280px;
        grid-row-gap: 7vw;
        grid-column-gap: 2vw;
        left: 24px;
        top: 24px;
    }  
    /* 너비 줄었을 때 사이드 바 안 보이게 */
    nav {
        visibility: hidden;
    }
    /* 얇은 사이드 바 보이게 */
    ul {
        width: 70px;
        background: white;
        margin: 0;
        padding: 0;
        position: fixed;
        height: 100%;
    }
    /* 각 그리드 스타일 */
    .item {
        cursor: pointer;
        width: 38vw;
        height: 300px;
    }
    
    /* 썸네일 사진 */
    img {
        width: 38vw;
        height: 180px;
    }
}

@media screen and (min-width: 512px) and (max-width: 807px) {
    /* 너비 줄었을 때 썸네일 GRID 바뀌게 */
    .main_container {
        display: grid;
        grid-template-rows: 56px calc(100% - 56px);
        overscroll-behavior: contain;
    }
    .section1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .section3 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .container {
        position: relative;
        display: grid;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 280px 280px;
        grid-row-gap: 7vw;
        grid-column-gap: 2vw;
        left: 55px;
        top: 24px;
    } 
    /* 너비 줄었을 때 사이드 바 안 보이게 */ 
    nav {
        visibility: hidden;
    }
    ul {
        visibility: hidden;
    }
    /* 각 그리드 스타일 */
    .item {
        cursor: pointer;
        width: 42vw;
        height: 300px;
    }
    
    /* 썸네일 사진 */
    img {
        width: 40vw;
        height: 180px;
    }
}

@media screen and (min-width: 100px) and (max-width: 511px) {
    /* 너비 줄었을 때 썸네일 GRID 바뀌게 */
    .main_container {
        display: grid;
        grid-template-rows: 56px calc(100% - 56px);
        overscroll-behavior: contain;
    }
    .section1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .section3 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .container {
        position: relative;
        display: grid;
        grid-template-columns: 63vw;
        grid-template-rows: 280px;
        grid-row-gap: 4vw;
        grid-column-gap: 0.5vw;
        left: 90px;
        top: 24px;
    }  
    
    /* 너비 줄었을 때 사이드 바 안 보이게 */ 
    nav {
        visibility: hidden;
    }
    ul {
        visibility: hidden;
    }
    /* 각 그리드 스타일 */
    .item {
        cursor: pointer;
        width: 45vw;
        height: 300px;
    }
    /* 썸네일 사진 */
    img {
        width: 63vw;
        height: 180px;
    }
}

/* 접었을 때 나오는 얇은 사이드 nav */

/* 사이드 바 아이콘 */
.material-icons#home2 {
    font-size: 25px;
    text-align: center;
    color: red;
}

.material-icons#compass2 {
    font-size: 24px;
    text-align: center;
}

.material-icons#subs2 {
    font-size: 20px;
    text-align: center;
}

.material-icons#video_library2 {
    font-size: 24px;
    text-align: center;
}

#nav_category2_home {
    font-size: 10px;
    color: red;
}
#nav_category2_compass {
    font-size: 10px;
    color: rgb(92, 91, 91);
}

#nav_category2_subs {
    font-size: 10px;
    color: rgb(92, 91, 91);
}

#nav_category2_video_library {
    font-size: 10px;
    color: rgb(92, 91, 91);
}

/* 버튼 스타일 */
button#btn22 {
    background-color: white;
    border: none; 
    height: 72px;
    width: 70px;
    
}
button#btn23 {
    background-color: white;
    border: none; 
    height: 72px;
    width: 70px; 

}
button#btn24 {
    background-color: white;
    border: none; 
    height: 72px;
    width: 70px; 

}
button#btn25 {
    background-color: white;
    border: none; 
    height: 72px;
    width: 70px;
}
/* 버튼 호버시 */
button#btn22:hover {
    background-color: rgb(243, 240, 240);
    cursor: pointer;
}
button#btn23:hover {
    background-color: rgb(243, 240, 240);
    cursor: pointer;
}
button#btn24:hover {
    background-color: rgb(243, 240, 240);
    cursor: pointer;
}
button#btn25:hover {
    background-color: rgb(243, 240, 240);
    cursor: pointer;
}

/* scroll to top inner */
.inner {
    width: 960px;
    margin: 0 auto;
    display: flex;
    height: 3000px;
}

/* scroll to top 둥둥 뜨는 애니메이션 */

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

.scrollToTop {
    animation: float 6s ease infinite;
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-top: auto;
    margin-left: auto;
    cursor: pointer;
}

/* 너비에 따라 검색창 사이즈가 줄어들게 */
@media screen and (min-width: 1100px) and (max-width: 1600px) {
    /* 검색창 스타일 */
    #searchbox {
        width: 570px;
        height: 25px;
        font-size: 15px;
        border-color: rgb(224, 224, 224);
        border-width: 0.5px;
        outline-color: rgb(91, 128, 228);
        border-top-left-radius: 1px;
        border-bottom-left-radius: 1px;
        margin: 16px 130px;
    }
    /* 검색창 안에 '검색' */
    ::placeholder {
        color: rgb(148, 147, 147);
    }
    /* 검색창 버튼 스타일 */
    .button {
        width: 65px;
        height: 30px;
        background-color: rgb(248, 245, 245);
        border-color: rgb(236, 235, 235);
        border-width: 0.5px;
        outline: none;
        cursor: pointer;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        position: fixed;
        margin: 15px -130px;
    } 
    /* 검색 버튼 안에 돋보기 아이콘 */
    button>.material-icons#search_button {
        font-size: 20px;
        color: rgb(128, 126, 126);
        margin-top: 2px;
    }
    /* 검색 버튼 호버시 배경색 바뀌게 */
    .button:hover {
        background-color: rgb(238, 236, 236);
    }
    /* 검색창 안에 키보드 아이콘 */
    .material-icons#keyboard {
        position: absolute;
        margin-top: 18px;
        margin-left: -168px;
        font-size: 23px;
    }
    /* 키보드 아이콘 호버시 색 변하게 */
    #keyboard:hover {
        color: rgb(46, 45, 45);
    }
    /* 마이크 아이콘 */
    header>.material-icons#mic {
        right: 395px;
        display: block;
        font-size: 24px;
    }
}
@media screen and (min-width: 700px) and (max-width: 1100px) {
    /* 검색창 스타일 */
    #searchbox {
        width: 20vw;
        height: 25px;
        font-size: 15px;
        border-color: rgb(224, 224, 224);
        border-width: 0.5px;
        outline-color: rgb(91, 128, 228);
        border-top-left-radius: 1px;
        border-bottom-left-radius: 1px;
        margin: 16px -30px;
    }
    /* 검색창 안에 '검색' */
    ::placeholder {
        color: rgb(148, 147, 147);
    }
    /* 검색창 버튼 스타일 */
    .button {
        width: 65px;
        height: 30px;
        background-color: rgb(248, 245, 245);
        border-color: rgb(236, 235, 235);
        border-width: 0.5px;
        outline: none;
        cursor: pointer;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        position: fixed;
        margin: 15px 20px;
    } 
    /* 검색 버튼 안에 돋보기 아이콘 */
    button>.material-icons#search_button {
        font-size: 20px;
        color: rgb(128, 126, 126);
        margin-top: 2px;
    }
    /* 검색 버튼 호버시 배경색 바뀌게 */
    .button:hover {
        background-color: rgb(238, 236, 236);
    }
    /* 검색창 안에 키보드 아이콘 */
    .material-icons#keyboard {
        position: absolute;
        margin: 18px -10px;
        font-size: 23px;
    }
    /* 키보드 아이콘 호버시 색 변하게 */
    #keyboard:hover {
        color: rgb(46, 45, 45);
    }
    /* 마이크 아이콘 */
    header>.material-icons#mic {
        left: 62%;
        display: block;
        font-size: 24px;
    }
}
@media screen and (min-width: 200px) and (max-width: 700px) {
    /* 검색창 안 보이게 */
    #searchbox  {
        display: none;
    }
    /* 검색창 버튼 안 보이게 */
    .button {
        display: none;
    }
    /* 검색창 안에 키보드 아이콘 */
    .material-icons#keyboard {
        display: none;
    }
    /* 마이크 아이콘 */
    header>.material-icons#mic {
        right: 250px;
        display: block;
        font-size: 24px;
    }
}